:root {
  --sdt-bg-main: var(--mdc-theme-surface);
  --sdt-shadow-color: transparent;
  --sdt-color: var(--mdc-theme-on-surface);
  --sdt-clock-color: var(--sdt-color);
  --sdt-clock-color-hover: var(--sdt-color);
  --sdt-clock-time-bg: transparent;
  --sdt-clock-time-bg-hover: var(--mdc-theme-text-hint-on-dark);
  --sdt-clock-disabled: var(--mdc-theme-error);
  --sdt-clock-disabled-bg: var(--sdt-bg-main);
  --sdt-clock-selected-bg: var(--sdt-bg-selected);
  --sdt-header-color: var(--mdc-theme-on-surface);
  --sdt-bg-selected: var(--mdc-theme-primary);
  --sdt-table-disabled-date: var(--mdc-theme-error);
  --sdt-table-disabled-date-bg: var(--sdt-bg-main);
  /* Selection hover color for any date or time */
  --sdt-table-data-bg-hover: var(--mdc-theme-text-hint-on-dark);
  --sdt-table-selected-bg: var(--sdt-bg-selected);
  /* Month hover color at the top */
  --sdt-header-btn-bg-hover: var(--mdc-theme-text-hint-on-dark);
  --sdt-color-selected: var(--mdc-theme-on-primary);
  --sdt-table-today-indicator: var(--mdc-theme-secondary);
  /* Clock Background Color, used the disabled button background color, this
  should likely be updated to a theme-compatible color at some point */
  --sdt-clock-bg: rgba(255, 255, 255, 0.12);
  /* Today button background color */
  --sdt-today-bg: var(--mdc-theme-primary);
  /* Today button text color */
  --sdt-today-color: var(--mdc-theme-on-primary);
  --sdt-today-hover-color: var(--mdc-theme-on-primary);
  /* Clear button text and border color */
  --sdt-clear-color: var(--mdc-theme-on-secondary);
  --sdt-clear-bg: var(--mdc-theme-secondary);
  /* Clear button hover text color */
  --sdt-clear-hover-color: var(--mdc-theme-on-primary);
  /* Clear button hover background color */
  --sdt-clear-hover-bg: var(--mdc-theme-text-hint-on-dark);
}

/* Overrides */

/* Clear button border */
button.sdt-clear-btn.svelte-ergyxs.svelte-ergyxs {
  border: 1px solid var(--sdt-clear-bg);
}
/* Today button hover */
button.sdt-today-btn.svelte-ergyxs.svelte-ergyxs:focus,
button.sdt-today-btn.svelte-ergyxs.svelte-ergyxs:active,
button.sdt-today-btn.svelte-ergyxs.svelte-ergyxs:hover:not([disabled]) {
  border: 1px solid var(--mdc-theme-primary);
  filter: brightness(1.1);
}
